.active-tasks {
   max-height: 100px;
   min-height: 100px;
   overflow: auto;
   padding: 0 10px;

   .task-container {
      .buttons-container {
         opacity: 0;
         transition: all 0.2s;

         &.show {
            opacity: 1;
         }
      }

      .form-check {
         cursor: pointer;
         transition: all 0.2s;

         .form-check-label,
         .form-check-input {
            cursor: pointer;
         }

         .form-check-label {
            white-space: nowrap;
            width: 260px;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }
   }

   .task-container {
      &:hover {
         color: #008fb3;
         .buttons-container {
            opacity: 1;
         }
      }
   }
}

.finished-tasks {
   max-height: 100px;
   min-height: 100px;

   overflow: auto;
   padding: 0 10px;

   .form-check-label {
      white-space: nowrap;
      width: 260px;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .form-check-input {
      &:checked {
         background-color: #008fb3;
         border-color: #008fb3;
      }
   }
}
