.create-project-article {
   align-items: center;
   background-color: #ebebeb;
   border-radius: 0.375rem;
   display: flex;
   height: 300px;
   justify-content: center;
   margin: 0 !important;
   padding: 20px;
   width: 416px;

   button {
      background-color: #00b9e1;
      border-color: #00b9e1;
      color: white;
      transition: all 0.3s;

      &:active,
      &:focus-visible,
      &:hover {
         background-color: #008fb3;
         border-color: #008fb3;
      }
   }
}
