.create-project-article {
   button {
      color: white;
      background-color: #00b9e1;
      border-color: #00b9e1;
      transition: all 0.3s;
   }

   button:hover {
      background-color: #008fb3;
      border-color: #008fb3;
   }
}
