.card-header {
   background-color: #ededed;
   padding: 2px 16px 2px 2px;

   .title-content {
      padding: 7.5px 13px 7.5px 13px;
      width: 100%;
      box-sizing: border-box;
      text-decoration: none;
      color: #000;

      white-space: nowrap;
      width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}
