.card-content {
   width: 415px;
   min-height: 300px;

   button {
      width: 100%;
      padding: 5px 40px;
      background-color: #00bd37;
      border-color: #00bd37;
      transition: all 0.2;

      &:hover {
         background-color: #009c2d;
         border-color: #009c2d;
      }
   }
}
