.register-section {
   height: 100vh;
   background-color: #e9f0f1;

   .register-container {
      background-color: white;
      border-radius: 20px;
      width: 50%;
      height: 60%;

      .register-content {
         background-color: #12a49c;
         height: 100%;
         border-radius: 20px;
      }
   }
}
